# Investigating Alcohol Consumption Trends in Ireland
---
This projects aims to analyse how alcohol consumption levels in Ireland have changed over time and examine the relationship between public health campaigns and reported drinking habits across demographics before stricter laws on health labels on alcohol products come into place in 2026.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read and open dataset with pandas
df = pd.read_csv("alcohol_consumption.csv")

In [3]:
df.head(10)

,STATISTIC,Statistic Label,TLIST(A1),Year,C02199V02655,Sex,C04143V04909,Country of Birth,UNIT,VALUE
0,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,2015,-,Both sexes,-,All countries,%,76.8
1,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,2015,-,Both sexes,IE,Ireland,%,77.7
2,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,2015,-,Both sexes,UK,UK,%,81.6
3,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,2015,-,Both sexes,ZZEUAB,EU15,%,75.7
4,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,2015,-,Both sexes,ZZROEU,Rest of EU,%,79.2
5,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,2015,-,Both sexes,ZZROW,Rest of World,%,54.5
6,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,2015,1,Male,-,All countries,%,79.7
7,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,2015,1,Male,IE,Ireland,%,79.8
8,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,2015,1,Male,UK,UK,%,85.8
9,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,2015,1,Male,ZZEUAB,EU15,%,82.9

In [4]:
df.drop(columns=['TLIST(A1)', 'C04143V04909'])

,STATISTIC,Statistic Label,Year,C02199V02655,Sex,Country of Birth,UNIT,VALUE
0,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,-,Both sexes,All countries,%,76.8
1,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,-,Both sexes,Ireland,%,77.7
2,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,-,Both sexes,UK,%,81.6
3,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,-,Both sexes,EU15,%,75.7
4,HIS46C01,Persons who consumed alcohol in the last twelv...,2015,-,Both sexes,Rest of EU,%,79.2
...,...,...,...,...,...,...,...,...
139,HIS46C01,Persons who consumed alcohol in the last twelv...,2024,2,Female,Ireland,%,72.3
140,HIS46C01,Persons who consumed alcohol in the last twelv...,2024,2,Female,UK,%,75.0
141,HIS46C01,Persons who consumed alcohol in the last twelv...,2024,2,Female,EU15,%,80.2
142,HIS46C01,Persons who consumed alcohol in the last twelv...,2024,2,Female,Rest of EU,%,68.5
143,HIS46C01,Persons who consumed alcohol in the last twelv...,2024,2,Female,Rest of World,%,55.9

In [6]:
df2 = pd.read_csv("binge_drinking.csv")

In [8]:
df2

,STATISTIC,Statistic Label,TLIST(A1),Year,C02199V02655,Sex,C02076V03371,Age Group,UNIT,VALUE
0,HIS47C01,Persons who binge drink,2015,2015,-,Both sexes,-,All ages,%,30.5
1,HIS47C01,Persons who binge drink,2015,2015,-,Both sexes,300,15 - 19 years,%,25.1
2,HIS47C01,Persons who binge drink,2015,2015,-,Both sexes,365,20 - 24 years,%,61.8
3,HIS47C01,Persons who binge drink,2015,2015,-,Both sexes,410,25 - 29 years,%,51.6
4,HIS47C01,Persons who binge drink,2015,2015,-,Both sexes,440,30 - 34 years,%,35.0
...,...,...,...,...,...,...,...,...,...,...
331,HIS47C01,Persons who binge drink,2024,2024,2,Female,530,55 - 59 years,%,12.1
332,HIS47C01,Persons who binge drink,2024,2024,2,Female,550,60 - 64 years,%,9.6
333,HIS47C01,Persons who binge drink,2024,2024,2,Female,565,65 - 69 years,%,5.0
334,HIS47C01,Persons who binge drink,2024,2024,2,Female,580,70 - 74 years,%,4.3
335,HIS47C01,Persons who binge drink,2024,2024,2,Female,605,75 years and over,%,0.0

In [9]:
df2.drop(columns=['TLIST(A1)'])

,STATISTIC,Statistic Label,Year,C02199V02655,Sex,C02076V03371,Age Group,UNIT,VALUE
0,HIS47C01,Persons who binge drink,2015,-,Both sexes,-,All ages,%,30.5
1,HIS47C01,Persons who binge drink,2015,-,Both sexes,300,15 - 19 years,%,25.1
2,HIS47C01,Persons who binge drink,2015,-,Both sexes,365,20 - 24 years,%,61.8
3,HIS47C01,Persons who binge drink,2015,-,Both sexes,410,25 - 29 years,%,51.6
4,HIS47C01,Persons who binge drink,2015,-,Both sexes,440,30 - 34 years,%,35.0
...,...,...,...,...,...,...,...,...,...
331,HIS47C01,Persons who binge drink,2024,2,Female,530,55 - 59 years,%,12.1
332,HIS47C01,Persons who binge drink,2024,2,Female,550,60 - 64 years,%,9.6
333,HIS47C01,Persons who binge drink,2024,2,Female,565,65 - 69 years,%,5.0
334,HIS47C01,Persons who binge drink,2024,2,Female,580,70 - 74 years,%,4.3
335,HIS47C01,Persons who binge drink,2024,2,Female,605,75 years and over,%,0.0

# References
---
1. Dataset for alcohol consumption in the last 12 months: https://data.gov.ie/dataset/his46-alcohol-consumption-in-last-12-months
2. Dataset on binge drinking: https://data.gov.ie/en_GB/dataset/his47-binge-drinking